.reward {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    position: relative;
    font-family: 'SOYOMapleRegular';
    align-items: center;
}

.SendButton {
    display: inline-block;
    width: 358px;
    height: 34px;
    border-radius: 12px;
    border: 1px solid var(--primary, #214FC7);
    background-color: white;
    color: #214FC7;
    text-align: center;
    padding-top: 7px;
    margin: 16px 16px 0; /* 수정된 부분: 위쪽 마진을 추가하고 bottom 제거 */
    text-decoration: none;
}